<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    shiro权限：<br/>
    <a href="/permissionTest" shiro:hasPermission="companyUser:user:save">有权限</a><br/>
    <a href="/permissionTest">无权限</a><br/>
    websocket测试：<br/>
    <input id="port" type="text" placeholder="请输入需要开启的端口号"/>
    <button onclick="openSocketPort()">发送请求</button><br/>
    <input id="message" type="text" placeholder="请输入想发送的数据"/>
    <button onclick="sendMessage()">发送请求</button><br/>
    pagehelper测试：<br/>
    <a href="/getAllLargeCount">分页列表</a><br/>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function openSocketPort() {
        var port = $("#port").val();
        window.location.href = "http://localhost:8008/checkcenter/socket/" + port;

    }

    function sendMessage() {
        var port = $("#port").val();
        var message = $("#message").val();
        $.ajax({
            url: "/checkcenter/socket/push/" + port ,
            type: "GET",
            data: {"message":message},
            success: function (result) {

            },
            error: function (err) {
                
            }
        })
    }
</script>